.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
_bookdown_files/
_book
inst/assignments/a1/a1-gmailR.R

inst/epib613outline/EPIB 613 Introduction to Statistical Software 2020_SB.docx

inst/project/383528-93201 - Group 1 - Rhiannon Roberts - Dec 14, 2018 514 PM - EPIB607_Group_1_Project_Answers.html

inst/project/383528-93201 - Group 1 - Rhiannon Roberts - Dec 14, 2018 514 PM - EPIB607_Group_1_Project_Answers.Rmd

inst/project/383528-93201 - Group 1 - Rhiannon Roberts - Dec 14, 2018 514 PM - EPIB607_Group_1_Project_Questions.html

inst/project/383528-93201 - Group 1 - Rhiannon Roberts - Dec 14, 2018 514 PM - EPIB607_Group_1_Project_Questions.Rmd

inst/project/383528-93201 - Group 1 - Rhiannon Roberts - Dec 14, 2018 514 PM - Location of dataset.docx

inst/project/383528-93201 - Group 1 - Rhiannon Roberts - Dec 14, 2018 514 PM - US Air Carriers Mod.csv

inst/project/383548-93201 - Group 21 - No├йmie Joannette-Lafrance - Dec 15, 2018 657 PM - Hendrickson_Joannette_EPIB607_Project.pdf
